@font-face {
  font-family: Libertine;
  src: url("fonts/LinLibertine_Rah.ttf") format("truetype");
}

p.par {
  font-family: Libertine, serif;
  font-size: 16pt;
  text-align: justify;
  text-indent: 10px;
  padding-bottom: 10px;
}

.reader {
  height: 100vh;
  width: 800px;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
